<!-- End Page Content -->

        <footer class='footer absolute-bottom mt-5 mh-500 p-5 bg-primary bg-gradient text-white text-center'>
            <h1 class='m-0'>La Pokedex</h1>
            <br />
            <p>La pokedex se reserva todos los derechos en privacidad y usabilidad</p>
            <a href='index.php'>"."Volver al Inicio".</a>
        </footer>
    </body>
</html>
