{{#pokemon}}
<div class="mh-50 m-100 container text-center">
    <h1 class="m-5">{{name}}</h1>
    <div class="d-flex flex-row m-5">
        <div class="w3-card-4 w3-left w3-blue w3-round-xxlarge p-1">
            <img src="public/{{image}}" alt="{{name}}" style="width:70%" class="w3-image w3-round-xxlarge w3-margin-top" />
            <img src="public/{{type1_image}}" alt="{{type1_name}}" style="width:30px; height:30px" class="w3-round w3-margin-right" />
        </div>
        <div class='d-row'>
            <p class = 'm-5 text-left'>{{description}}</p>
        </div>
    </div>
    <a href="index.php?controller=pokedexController&action=get&loggedIn={{loggedIn}}">
        <button type='submit' class="btn btn-sm btn-primary p-3 m-5"> Volver </button>
    </a>
</div>
{{/pokemon}}